h1 {
  color:magenta;
  font-family:sans-serif;
}

h2{
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}
#first {
    line-height: 60px;
}
body {
  background-color: #blue;
}

#box {
  height: 200px;
  width: 200px;
  position: absolute;

}
