body{
  align-content:center;
}
.s1{
    width: 200px;
    background-color: white;
    height: 50px;
    float:left;
  }
.s2{
  width: 200px;
  background-color: white;
  height:50px;
  float:left;
}
.s3{
  width:200px;
  background-color: white;
  height:50px;
  float:left;
}
